doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title #{title}
    meta(name='雪球', content='聪明的投资者都在这里')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    link(rel="stylesheet", type="text/css" href="/static/css/common.css")
    block head
    block style
  body
    .container
      block content
    block footer
    block script
